body {
    font-family: Arial, Helvetica;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: url(./images/Group\ 3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar a:hover {
    background: -webkit-linear-gradient(360deg, rgb(132, 71, 189) 20%, rgb(255, 127, 54) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.nav-icon {
    width: 40px; 
    height: auto; 
    margin-right: 8px;
    margin-left: 200px; 
    margin-top: 10px;
    

}
.nav-icon:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;}


.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 80px 50px 30px 50px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #000;
    font-size: 1.7em;
}

h2 {
    color: #555;
}
h6{
    color: #969696;
    margin: 0;
    justify-self: center;
}

.article-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 15px 0;
}

.share {
    padding-top: 100px;
    text-align: center; 
    font-size: 20px;
}

.share a  {
    color: black; 
    display: inline-block; 
    margin: 0 5px ; 
    padding-top: 0;
    transition: all 0.3s ease;
}

.share a:hover  {
  
    transform: scale(1.5);
}


footer {
    text-align: center;
    padding: 10px 0;
    background: #000;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}


span{
    font-size: 1.2em;
    font-weight: bold;
}

.small{
    font-size: 1em;
    font-weight: bold;
}


