@font-face {
    font-family: 'Afacad';
    src: url('fonts/afacad.woff2') format('woff2'), 
         url('fonts/afacad.woff') format('woff'),   
         url('fonts/afacad.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    text-align: center;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/Group\ 3.png');
    background-size:cover;
    background-position: center;
}


body::before {
    content: '';
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    width: 100%;
    height: 100vh;
    background-image: url('./images/Group\ 3.png');
    background-size:cover;
    background-repeat: repeat;
    background-position: center;
    opacity: 1; 
    animation: glow 4s infinite; 
    z-index: 0; 
}

@keyframes glow {
    0%, 100% {
        opacity: 0; 
    }
    50% {
        opacity: 1; 
    }
}


header {
    background-color: #000000;
    padding: 10px 30px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100000000;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between; 
    align-items: center; 
    margin-right: 200px;
}

.navbar li {
    margin-right: 20px;
}

.navbar li:first-child {
    margin-right: auto; 
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.3s ease-in;
}

.navbar a:hover {
    background: -webkit-linear-gradient(360deg, rgb(132, 71, 189) 27%, rgb(255, 127, 54) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transform: scale(1.5);
}

.nav-icon {
    width: 40px; 
    height: auto; 
    margin-right: 8px;
    margin-left: 200px; 
    margin-top: 10px;
    

}
.nav-icon:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;}


.image-container {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%); 
        display: inline-block;
        overflow: hidden;
        border-radius: 50%;
        background-color: #1A1A1A; 
        width: 220px; 
        height: 220px; 
        z-index: 2;
    }
        
.hover-image {
        z-index: 2;
        width: 200px; 
        height: 200px; 
        display: block;
        border-radius: 50%;
        margin: auto;
        margin-top: 14%; 
    }



main {
    margin-top: 80px;
    width: 100%;  
    height: 100vh;  
    flex-grow: 1;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}


main::before {
    content: '';
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    width: 100%;
    height: 100vh;
    background-image: url('./images/Group\ 3.png');
    background-size:1200px;
    background-position: center;
    opacity: 0.5; 
    animation: glow 5s infinite; 
    z-index: 0; 
}



.fade-in {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.2s ease-in-out, transform 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}




.rotating-image {
    position: relative;
    width: 50%;  
    height: auto;  
    bottom: -140px;  
    left: 25%;
    transform: translateX(-50%); 
    transform-origin: center center; 
    transition: transform 0.1s;
    z-index: 3;
}



main h1 {
    color: white;
    font-size: 2.5em;
    position: absolute;
    top: 26%;
    z-index: 2;
    font-family: 'Afacad', sans-serif;
}

main h2 {
    color: white;
    font-size: 2.5em;
    margin-top: 0px;
    position: absolute;
    top: 35%;
    z-index: 2;
    font-family: 'Afacad', sans-serif;
}

main p {
    color: #acacaf;
    font-size: 1.3em;
    margin-top: 0px;
    position: absolute;
    top: 41%;
    z-index: 2;
    font-family: 'Afacad', sans-serif;
}

.round-button {
    position: relative;
    top: -460px;  
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #18181F;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 0px;
    border-radius: 30px;
    cursor: pointer;
    width: 180px;
    height: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in;
    margin-top: -30px;
    z-index: 1000;
}

.round-button:hover {
    background-color: transparent;
    border: 2px solid #fff;
}
.button-image {
    width: 25px; 
    height: 25px; 
    margin-right: 8px; 
    z-index: 1000;
}


#about {
    margin: 0;
    position: relative; 
    background-position: center 100%;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center; 
    display: flex;
    flex-direction: column;
}
#about::before {
    content: '';
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    width: 100%;
    height: 100vh;
    background-image: url('./images/Group\ 3.png');
    background-size:1200px;
    background-position: center;
    opacity: 0.7; 
    animation: glow 5s infinite; 
    z-index: 0; 
}



#about h6 {
    background: -webkit-linear-gradient(360deg, rgb(132, 71, 189) 25%, rgb(255, 127, 54) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.6em;
    z-index: 2;
    text-align: center; 
    text-shadow: 
        10px 10px 10px rgb(255, 127, 54), 
        50px 50px 50px rgb(132, 71, 189) 22%, 
        3px 3px 0 rgba(0, 0, 0, 0.5); 
}

#about p{
    color: aliceblue;
    font-size: 1.3em;
    z-index: 2;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto;

}


.container {
    display: flex;
    flex-direction: column;
}

.container p {
    margin: 20px;
    padding: 20px;
    max-width: 40%;
}



@keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
}

#about p {
    animation: float 3s ease-in-out infinite;
}

/*@keyframes rocketPath {
    from { left: -50%; }
    to { left: 100%; }
}

.rocket {
    position: absolute;
    bottom: 0;
    left: -50%;
    background: url('/images/figma.png') no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    animation: rocketPath 10s linear infinite;
    z-index: 10;
}
.rocket {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}*/


#articles {
    margin-top: 80px;
    width: 100%;  
    height: 100vh;  
}

#articles::before {
    content: '';
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    width: 100%;
    height: 100vh;
    background-image: url('./images/Group\ 3.png');
    background-size:1200px;
    background-position: center;
    opacity: 0.7; 
    animation: glow 5s infinite; 
    z-index: -1; 
}


.articles h1{
    font-size: 2em;
    padding: 10px;
    background: -webkit-linear-gradient(190deg, rgb(132, 71, 189) 44%, rgb(255, 127, 54) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.containerblog {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: row;
    margin: 50px;
}

.card {
    margin: 20px;
    background-color: #65636642;
    border: 1px solid #ddd;
    height: 550px;
    box-shadow: 0 2px 10px rgb(90, 90, 90);
    cursor: pointer;
    width: calc(23% - 40px);
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    
}

.bigcard{
    margin: 20px;
    background-color: #65636642;
    border: 1px solid #ddd;
    height: 600px;
    box-shadow: 0 2px 10px rgb(130, 130, 130);
    cursor: pointer;
    width: calc(24% - 40px);
    margin: 30px;
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}


.card:hover, .bigcard:hover {
    transform: scale(1.1);
    
}

.card img, .bigcard img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h2, .bigcard h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    font-weight:bolder;
    margin: 10px 0;
    color: #fff;
}

.card p{
    margin: auto;
    padding: 10px;
    color: #fff;
    justify-items: center;
    height: auto;
    font-size: 1.1em;
    text-align: center;
    font-weight: lighter;
}

.bigcard p {

    padding: 10px;
    color: #fff;
    justify-items: center;
    margin: auto;
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    
}


.read-more {
    display: inline-block;
    margin: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    transition: all 0.2s ease-in;
}

.read-more:hover, .read-moreb:hover {
    transform: scale(1.1);
    background-color: #65636642;
    color: #fff;
    border: 2px solid #fff;
    
}


.read-moreb {
    font-size: 1.2em;
    display: inline-block;
    margin: 10px;
    margin-top: 110px;
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    transition: all 0.3s ease-in;
    
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 10px;
    z-index: 2;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.social-links a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.2);
}

footer p {
    margin: 10px 0 0;
    font-size: 0.9em;
}



    
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .navbar ul {
        margin-right: 50px; 
    }

    .navbar li {
        margin-right: 10px; 
    }

    .navbar a {
        padding: 4px 8px; 
        font-size: 14px; 
    }

    .nav-icon {
        width: 30px; 
        margin-left: 100px; 
    }

    .nav-icon:hover {
        transform: scale(1.3); 
    }

    #about h6{
        margin-top: 0;
        padding-top: 0;
        
    }
    
}



@media (max-width: 480px) {
    header {
        padding: 5px; 
    }

    .navbar ul {
        margin-right: 30px;
    }

    .navbar li {
        margin-right: 5px; 
    }

    .navbar a {
        padding: 3px 6px; 
        font-size: 12px; 
    }

    .nav-icon {
        width: 25px; 
        margin-left: 50px; 
    }

    .nav-icon:hover {
        transform: scale(1.2); 
    }

    #about h6{
        margin-top: 0;
        padding-top: 0;
        
    }
    .rotating-image {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    
    
}

@media (max-width: 768px) {
    .rotating-image {
        width: 90%;
        height: auto;  
        left: 45%; 
        top: 7%;
    }

    .round-button {
        top: -300px;  
        display: flex; 
        justify-content: center; 
        align-items: center; 
        font-size: 8px;
        width: 80px;
        height: 20px;
        margin-top: 20px;
        z-index: 4;
    }

    
}


@media (max-width: 480px) {

    .rotating-image {
        width: 100%;
        height: auto;  
        left: 50%; 
        top: 9%;
    }

    .round-button {
        top: -270px;  
        display: flex; 
        justify-content: center; 
        align-items: center; 
        font-size: 10px;
        width: 100px;
        height: 35px;
        margin-top: 20px;
        z-index: 4;
    }
    

}

@media (max-width: 440px) {

   

    .round-button {
        top: -250px;  
        display: flex; 
        justify-content: center; 
        align-items: center; 
        font-size: 10px;
        width: 100px;
        height: 40px;
        margin-top: 20px;
        z-index: 4;
    }
    

}



@media (max-width: 768px) {
    #about h6 {
        font-size: 1.4em; 
        margin-top: 50px; 
    }

    #about p {
        font-size: 1.1em; 
        margin: 10px; 
    }

    .container {
        flex-direction: column; 
        align-items: center; 
    }

    .container p {
        max-width: 90%; 
    }

    .containerblog {
        flex-direction: column; 
        align-items: center;
    }

    .card, .bigcard {
        width: 90%; 
        margin: 10px 0; 
    }

    .card img, .bigcard img {
        height: auto; 
    }
}

@media (max-width: 480px) {

    #about{
        margin-top: 0;
        padding-top: 0;
    }
    #about h6 {
        font-size: 1.2em;
    }

    #about p {
        font-size: 1em;
    }
  #article{
        height: 100vh;
    }

    .articles h1 {
        font-size: 1.5em;
    }

    .read-more, .read-moreb {
        font-size: 1em; 
        padding: 8px 16px; 
    }
    .read-moreb{
        padding: 12px 20px;
        margin-top: 120px;
    }

    .bigcard p {

        padding: 10px;
        font-size: 1.1em;
    }
    .card img, .bigcard img {
        width: 100%;
        height: 270px;
        object-fit: cover;
    }
    
}


@media (max-width: 390px) {
    .articles h1 {
        font-size: 1.5em;
    }

    .read-more, .read-moreb {
        font-size: 1em; 
        padding: 8px 16px; 
    }
    .read-moreb{
        padding: 12px 20px;
        margin-top: 120px;
    }

    .card p{
        font-size: 1em;
    }

    .bigcard p {

        padding: 10px;
        font-size: 1em;
    }
    .card img, .bigcard img {
        width: 100%;
        height: 260px;
        object-fit: cover;
    }


    .round-button {
        top: -230px;  
        display: flex; 
        justify-content: center; 
        align-items: center; 
        font-size: 10px;
        width: 110px;
        height: 40px;
        margin-top: 20px;
        z-index: 4;
    }
    .rotating-image {
        width: 100%;
        height: auto;  
        left: 50%; 
        top:11%;
    }
    
}

@media (max-width: 380px) {

   

    .round-button {
        top: -220px;  
        display: flex; 
        justify-content: center; 
        align-items: center; 
        font-size: 10px;
        width: 100px;
        height: 35px;
        margin-top: 20px;
        z-index: 4;
    }
    

}



